@import '../styleguide.scss';

.timezone-select {
    display: flex;
    flex-direction: row;
    width: 100%;

    padding-top: 16px;
    padding-bottom: 16px;

    @include on-phones {
        flex-direction: column;
    }

    .label-and-select {
        flex: 1;
        display: flex;
        flex-direction: column;
        label {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    .label-and-select:first-child {
        margin-right: 20px;
        @include on-phones {
            margin-right: 0;
        }
    }
}
