@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

$primary: #3c6382;
$primary-off: #0a3d62;

body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    padding-bottom: 8px;
    font-weight: 500;
}
